In [1]:
import pandas as pd
import talib

In [2]:
toy = pd.DataFrame({
'id': [1,2,3,
       1,2,3,
       1,2,3],
'date': ['2015-05-13', '2015-05-13', '2015-05-13', 
         '2016-02-12', '2016-02-12', '2016-02-12', 
         '2018-07-23', '2018-07-23', '2018-07-23'],
'my_metric': [395, 634, 165, 
              144, 305, 293, 
              23, 395, 242]
})

In [3]:
toy.date = pd.to_datetime(toy.date)

In [14]:
f = toy.set_index(['id', 'date']).sort_index()
f

               my_metric
id date
1  2015-05-13        395
   2016-02-12        144
   2018-07-23         23
2  2015-05-13        634
   2016-02-12        305
   2018-07-23        395
3  2015-05-13        165
   2016-02-12        293
   2018-07-23        242

In [55]:
f.groupby(level='id', group_keys=True).rolling(2)['my_metric'].mean()

id  id  date
1   1   2015-05-13      NaN
        2016-02-12    269.5
        2018-07-23     83.5
2   2   2015-05-13      NaN
        2016-02-12    469.5
        2018-07-23    350.0
3   3   2015-05-13      NaN
        2016-02-12    229.0
        2018-07-23    267.5
Name: my_metric, dtype: float64

In [60]:
f.groupby('id').my_metric.transform(lambda x: x.rolling(2).mean())

id  date
1   2015-05-13      NaN
    2016-02-12    269.5
    2018-07-23     83.5
2   2015-05-13      NaN
    2016-02-12    469.5
    2018-07-23    350.0
3   2015-05-13      NaN
    2016-02-12    229.0
    2018-07-23    267.5
Name: my_metric, dtype: float64

In [61]:
f.groupby('id').my_metric.transform(lambda x: talib.SMA(x, 2))

id  date
1   2015-05-13      NaN
    2016-02-12    269.5
    2018-07-23     83.5
2   2015-05-13      NaN
    2016-02-12    469.5
    2018-07-23    350.0
3   2015-05-13      NaN
    2016-02-12    229.0
    2018-07-23    267.5
Name: my_metric, dtype: float64